/* section logo */
.logo {
    display: flex;
    justify-content: center;
}

/* section navbar */
.topnav {
    position: fixed;
    display: flex;
    height: 58px;
    margin-top:20px;
    align-items: center;
    background: linear-gradient(to left, #F87356, #F33A4B);
    width: 100%;
    padding: 0;
    left: 0;
    right: 0;
}

.lettering {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;
    flex: 1;
}

.social-media {
    margin-right:50px;
}

.icon img {
    width: 20px;
    height: 20px;
}

/* section container */
.containter {

}