<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog, poradnik sportowy, jedzeniowy.</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/start_web.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">

</head>
<body>
    <div class="logo">
        <img src="{% static 'images/navbar/images.png' %}">
        <img src="{% static 'images/navbar/background.jpg' %}">
    </div>

    <div class="topnav">
        <div class="menu">
            <a class="lettering" href="{% url 'start_web' %}"><p style="font-family: 'Roboto', sans-serif;">HOME</p></a>
            <a class="lettering" href="{% url 'foods_web' %}"><p style="font-family: 'Roboto', sans-serif;">JEDZENIE</p></a>
            <a class="lettering" href="{% url 'exercises_web' %}"><p style="font-family: 'Roboto', sans-serif;">ĆWICZENIA</p></a>
        </div>
        <div class="social-media">
            <a class="icon" href="https://www.facebook.com"><img src="{% static 'images/navbar/facebook.png' %}"></a>
            <a class="icon" href="https://www.instagram.com"><img src="{% static 'images/navbar/instagram.png' %}"></a>
        </div>
    </div>

    <div class="container">
        <ul>
            {% for loose in loose %}
            <li>
                <strong class="title">Tytuł:</strong> <span class="title">{{ loose.title }}</span><br>
                <strong class="desc">Opis:</strong> <span class="desc">{{ loose.short_description }}</span><br>
                <span class="author">{{ loose.author }}</span> <br>
                <span class="date">{{ loose.data }}</span>  <br>
                <span class="img"><img src="{{ loose.logo.url }}"></span><br>

            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="last_write">
        <ul>
            {% for loose in loose_last_write %}
            <li>
                <strong class="last_write">aasd:</strong> <span class="last_write">{{ loose.title }}</span><br>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>

